<html>
<title>Weather</title>
<head>
    <link rel="icon", href="/img/weather.png">
    <link rel = "stylesheet", href = "/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}} 

        <p>Use This Site te know Weather Update</p>

        <form>
            <input placeholder="type you location...">
            <button>Search</button>

        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
 
 
{{>footer}}
<script src="/js/app.js"></script>
</body>
</html> 